*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(233, 229, 31, 0.795);
}

.wrapper{
    width: 370px;
    border-radius: 7px;
    background-color: #f4f4f4;
    padding: 25px 30px;
}

.wrapper>header{
    text-align: center;
    font-size: 28px;
    font-weight: 500;

}

.wrapper>form{
    margin: 35px 0 20px;
}

form>.row{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form>.row>label{
    font-size: 18px;
    margin-bottom: 5px;
}

form :where(textarea,select,button){

    outline: none;
    width: 100%;
    border: none;
    border-radius: 5px;

}

form>.row>textarea{
    resize: none;
    height: 110px;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #999;

}

form>.row>.outer{
    height: 47px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: white;
}

form>.row>select{
    font-size: 14px;
}

form>button{
    height: 52px;
    margin-top: 10px;
    background-color: yellow;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #999;
    cursor: pointer;
}

button:hover{
    background-color:rgba(233, 229, 31, 0.795);
}